/* ==========================================================================
   FULL SITE STYLES:

   TYPOGRAPHY:

   Headings:
   font-family: 'Poppins', sans-serif;

   Body / Paragraph Text:
   font-family: 'Lora', serif;

   BRAND COLORS:

   White: #FEFEFE
   Pink: #F652A0
   Teal: #36EEE0
   Green: #128F8B
   Dark Blue Gray: #4C5270
   Black: #000000
   ========================================================================== */

/* ==========================================================================
   Header Styles
   ========================================================================== */   

header {
    padding: 20px 35px;
    background-color: #f652a0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header img {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    height: auto;
}

header a {
    text-decoration: none;
    color: #000;

}
header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 30px;
    font-family: 'Lora', serif;
    font-weight: lighter;
    font-size: 2em;
}

/* ==========================================================================
   Welcome Styles
   ========================================================================== */   

.welcome {
    background-image: url(../images/header_img.png);
}

/* ==========================================================================
   Skills Styles
   ========================================================================== */   
   
.skills {
    background-color: #88a9a2;
}

/* ==========================================================================
   About Styles
   ========================================================================== */   

.about {
    background-color: #FEFEFE;
}

/* ==========================================================================
   Portfolio Styles
   ========================================================================== */   

.portfolio {
    background-color: #88a9a2;
}

/* ==========================================================================
   Footer Styles
   ========================================================================== */   

footer {
    background-color: #f652a0;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */   
   