/* ==========================================================================
   FULL SITE STYLES:

   TYPOGRAPHY:

   Headings:
   font-family: 'Poppins', sans-serif;

   Body / Paragraph Text:
   font-family: 'Lora', serif;

   BRAND COLORS:

   White: #FEFEFE
   Pink: #F652A0
   Teal: #36EEE0
   Green: #128F8B
   Dark Blue Gray: #4C5270
   Black: #000000
   ========================================================================== */

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* ==========================================================================
   Header Styles
   ========================================================================== */   

header {
    padding: 20px 35px;
    background-color: #f652a0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    height: auto;
}

header a {
    text-decoration: none;
    color: #000;

}
header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 30px;
    font-family: 'Lora', serif;
    font-weight: lighter;
    font-size: 2em;
}

/* ==========================================================================
   Welcome Styles
   ========================================================================== */   

.welcome {
    background-image: url(../images/header_img.png);
    background-size: cover;
    background-position: center;
    min-height: 600px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.headshot-1 img {
    flex: 1;
    border: 10px solid #128f8b;
    border-radius: 50%;
    max-width: 500px;
    height: auto;
    margin: 100px;
}

.welcome-text {
    flex: 2;
    margin: 5%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
   
.welcome-text h1 {
    color: #128f8b;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 3em;  
}

.welcome-text h2 {
    color: #128f8b;
    text-align: left;
    font-family: 'Lora', serif;
    font-size: 2em;
}


/* ==========================================================================
   Skills Styles
   ========================================================================== */   
   
.skills {
    background-color: #88a9a2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    min-height: 600px;
}

.skills img {
    max-width: 250px;
    flex: 0 1 auto;
    justify-content: center;
}

.skills h2 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ==========================================================================
   About Styles
   ========================================================================== */   

.about {
    background-color: #FEFEFE;
    display: flex;
    flex-wrap: wrap;
    min-height: 600px;
}

.about-text {
    flex: 2;
    margin: 5%;
    justify-content: center;
    align-items: center;
}

.headshot-2 img {
    flex: 1;
    border: 10px solid #128f8b;
    border-radius: 50%;
    max-width: 500px;
    height: auto;
    margin: 100px;
}

/* ==========================================================================
   Portfolio Styles
   ========================================================================== */   

.portfolio {
    background-color: #88a9a2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    min-height: 600px;
}

.portfolio img {
    max-width: 250px;
    flex: 0 1 auto;
    justify-content: center;
}

.portfolio h2 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

/* ==========================================================================
   Footer Styles
   ========================================================================== */   

footer {
    background: #f652a0;
    width: 100%;
    padding: 40px 35px;
    box-sizing: border-box;
}
footer h3 {
    display: inline;
    color: #000;
    font-size: 26px;
    font-weight: lighter;
    margin: 0;
}

.social {
    float: right;
    line-height: 1.5;
    text-align: right;
}

.social ul li {
    margin: 0;
    display: inline;
}

.social a {
    text-decoration: none;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */   
   